body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20231027/pngtree-hexagonal-abstract-background-with-a-black-textured-surface-image_13704307.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.getstarted-button {
    position: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.container {
    width: 60%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 8px inset black;
}

.hidden {
    display: none;
}

.purpose-options {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.purpose-options button, button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    font-size: 16px;
}

#taskPriority {
    appearance: none;
    width: 93%;
}

.task {
    display: flex;
    justify-content: space-between;
    background-color: #e9ecef;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.completed .icons i {
    color: green;
}

.icons i {
    margin-left: 10px;
    cursor: pointer;
}

.back-button {
    margin-top: 10px;
    background-color: red;
}